<div class="bundle-product__wrapper page-width">
  {% for product in section.collection.products %}
    <div class="bundle-product__items" >

      <div class="bundle-product__image">
        {{ product.featured_image 
          | image_url: width: 600 
          | image_tag: alt: product.selected_or_first_available_variant.title, loading: 'lazy' }}
      </div>

      <div class="bundle-product__title">
        <h2>{{ product.title }}</h2>
      </div>

      <div class="bundle-product__price">
        <span>{{ product.selected_or_first_available_variant.price | money }}</span>
      </div>

      <div class="bundle-product__atc">
        <button type="button" class="atc-bundle"
           data-product-id="{{ product.id }}" 
           data-variant-id="{{ product.selected_or_first_available_variant.id }}"
            data-image = "{% if product.selected_or_first_available_variant.featured_image != blank  %}
            {{ product.selected_or_first_available_variant.featured_image | image_url:width:300  }}
        {% else %}
          {{ product.featured_image | image_url: width: 300 }}
        {% endif %}"
          >Add to Bundle</button>
      </div>


    </div>
  {% endfor %}
</div>
<div class="bundle-bottom__section">
  <div class="bundle-bottom__image-wrapper">
  {% for i in (1..3) %}
    <div class="bundled-image">
        <img src="https://placehold.co/120x120" width="120" height="120" alt="">
    </div>
  {% endfor %}
  </div>
  <div class="bundle-add-to-cart">
    {%- render 'loading-spinner' -%}
    <input type="submit" name="Add to cart" value="Add To Cart">
  </div>
</div>