<div class="product-card__card-item">
  <a href="{{ product.url }}">
  <div class="product-card__card-image">
    {{ product.featured_image | image_url: width: 800 | image_tag: alt: shop.name, loading: lazy }}
    {% for tag in product.tags %}
      {% if tag != blank %}
    <div class="product-card__card-tag">
        <p class="product-card--{{ tag }}">{{ tag }}</p>
      </div>
    {% endif %}
    {% endfor %}
    {% if quick_add == 'standard' %}
      <div class="product-card__card-quick--view">
        {% assign product_form_id = 'quick-add-' | append: section_id | append: product.id %}

        <div class="quick-add no-js-hidden">
          {%- liquid
            assign qty_rules = false
            if product.selected_or_first_available_variant.quantity_rule.min > 1 or product.selected_or_first_available_variant.quantity_rule.max != null or product.selected_or_first_available_variant.quantity_rule.increment > 1
              assign qty_rules = true
            endif
          -%}
          {%- if product.variants_count > 1 or qty_rules -%}
            <modal-opener data-modal="#QuickAdd-{{ product.id }}">
              <button
                id="{{ product_form_id }}-submit"
                type="submit"
                name="add"
                class="quick-add__submit button button--full-width button--secondary{% if horizontal_quick_add %} card--horizontal__quick-add animate-arrow{% endif %}"
                aria-haspopup="dialog"
                aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ product.id }}"
                data-product-url="{{ product.url }}"
              >
                {% comment %} {{ 'products.product.choose_options' | t }} {% endcomment %}
                <svg xmlns="http://www.w3.org/2000/svg" id="Ebene_1" version="1.1" viewBox="0 0 24.5 33">
                  <!-- Generator: Adobe Illustrator 30.0.0, SVG Export Plug-In . SVG Version: 2.1.1 Build 123)  -->
                  <defs>
                    <style>
                      .st0 {
                        fill: none;
                        stroke: #fff;
                        stroke-width: 1.5px;
                      }
                    </style>
                  </defs>
                  <path class="st0" d="M5.6,8.8c-1.8,0-3.4,1.5-3.5,3.2L.8,29c-.1,1.8,1.2,3.2,3,3.2h17c1.8,0,3.1-1.5,3-3.2l-1.4-16.9c-.1-1.8-1.7-3.2-3.5-3.2H5.6Z"/>
                  <path class="st0" d="M7.6,8.9S6.5.8,12.4.8s4.8,8.2,4.8,8.2"/>
                </svg>

                {%- render 'loading-spinner' -%}
              </button>
            </modal-opener>
            <quick-add-modal id="QuickAdd-{{ product.id }}" class="quick-add-modal">
              <div
                role="dialog"
                aria-label="{{ 'products.product.choose_product_options' | t: product_name: product.title | escape }}"
                aria-modal="true"
                class="quick-add-modal__content global-settings-popup"
                tabindex="-1"
              >
                <button
                  id="ModalClose-{{ product.id }}"
                  type="button"
                  class="quick-add-modal__toggle"
                  aria-label="{{ 'accessibility.close' | t }}"
                >
                  {{- 'icon-close.svg' | inline_asset_content -}}
                </button>
                <div id="QuickAddInfo-{{ product.id }}" class="quick-add-modal__content-info"></div>
              </div>
            </quick-add-modal>
          {%- else -%}
            <product-form data-section-id="{{ section.id }}">
              {%- form 'product',
                product,
                id: product_form_id,
                class: 'form',
                novalidate: 'novalidate',
                data-type: 'add-to-cart-form'
              -%}
                <input
                  type="hidden"
                  name="id"
                  value="{{ product.selected_or_first_available_variant.id }}"
                  class="product-variant-id"
                  {% if product.selected_or_first_available_variant.available == false %}
                    disabled
                  {% endif %}
                >
                <button
                  id="{{ product_form_id }}-submit"
                  type="submit"
                  name="add"
                  class="quick-add__submit button button--full-width button--secondary{% if horizontal_quick_add %} card--horizontal__quick-add{% endif %}"
                  aria-haspopup="dialog"
                  aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ product.id }}"
                  aria-live="polite"
                  data-sold-out-message="true"
                  {% if product.selected_or_first_available_variant.available == false %}
                    disabled
                  {% endif %}
                >
                  <span>
                    {%- if product.selected_or_first_available_variant.available -%}
                      {% comment %} {{ 'products.product.add_to_cart' | t }} {% endcomment %}
                      <svg xmlns="http://www.w3.org/2000/svg" id="Ebene_1" version="1.1" viewBox="0 0 24.5 33">
                        <!-- Generator: Adobe Illustrator 30.0.0, SVG Export Plug-In . SVG Version: 2.1.1 Build 123)  -->
                        <defs>
                          <style>
                            .st0 {
                              fill: none;
                              stroke: #fff;
                              stroke-width: 1.5px;
                            }
                          </style>
                        </defs>
                        <path class="st0" d="M5.6,8.8c-1.8,0-3.4,1.5-3.5,3.2L.8,29c-.1,1.8,1.2,3.2,3,3.2h17c1.8,0,3.1-1.5,3-3.2l-1.4-16.9c-.1-1.8-1.7-3.2-3.5-3.2H5.6Z"/>
                        <path class="st0" d="M7.6,8.9S6.5.8,12.4.8s4.8,8.2,4.8,8.2"/>
                      </svg>
                    {%- else -%}
                      {{ 'products.product.sold_out' | t }}
                    {%- endif -%}
                  </span>
                  <span class="sold-out-message hidden">
                    {{ 'products.product.sold_out' | t }}
                  </span>
                  {%- if horizontal_quick_add -%}
                    <span class="icon-wrap">
                      {{- 'icon-plus.svg' | inline_asset_content -}}
                    </span>
                  {%- endif -%}
                  {%- render 'loading-spinner' -%}
                </button>
              {%- endform -%}
            </product-form>
          {%- endif -%}
        </div>
      </div>
    {% endif %}
  </div>
</a>
{% if product.title != blank %}
  <div class="product-card__card-title">
    <h2>{{ product.title }}</h2>
    {% if product.metafields.custom.sub_title != blank %}
      <div class="product-card__card-subtittle">
        {{ product.metafields.custom.sub_title }}
      </div>
    {% endif %}
  </div>
{% endif %}
  <div class="product-card__card-price">
    <p>
      {{ product.price | money_with_currency }}
      <span class="product-compare__price">{{ product.compare_at_price | money_with_currency }}</span>
    </p>
    {% if product.metafields.judgeme.badge != blank %}
    <div class="product-card__card-reviews">
      {{ product.metafields.judgeme.badge }}
    </div>
  {% endif %}
  </div>
</div>
